:root {
  --icon-size: 96px;
  --icon-gap: 8px;
  
  --cell-width: calc(var(--icon-size) + var(--icon-gap) * 2);
  --cell-gap: 4px;
  
  --columns: 9;
  
  --margin: 24px;

  --c-frame: #202020;
  --c-window-bg: #191919;
}

* {
  box-sizing: border-box;
}

body {
  background: #101010;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: var(--margin) var(--margin) 33vh;
}

h1 {
  margin: 0.33em;
}

a {
  color: #58a6ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  text-align: center;
}

.windows {
  display: flex;
  flex-direction: column;
}

.group {
  background: var(--c-frame);
  border: 2px solid var(--c-frame);
  border-radius: 6px;
  margin: var(--margin) auto;
}

.group .title {
  background: var(--c-frame);
  padding: 4px;
}

.group .content {
  background: var(--c-window-bg);
  border-radius: 2px;
  padding: calc(var(--margin) / 2);
}

.grid {
  display: grid;
  gap: var(--cell-gap);
  grid-auto-rows: calc(var(--icon-size) + var(--icon-gap) + var(--cell-gap) + 1em);
  grid-template-columns: repeat(auto-fit, var(--cell-width));
  max-width: calc(var(--columns) * (var(--cell-width) + var(--cell-gap)));
}

.cell {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  outline: 1px solid transparent;
}
.cell:hover {
  background: #323232;
  text-decoration: none;
}
.cell:focus {
  outline-color: #626262;
}

.icon {
  height: var(--icon-size);
  margin: calc(var(--icon-gap) / 2) var(--icon-gap);
  width: var(--icon-size);
}

.icon.pixelated {
  image-rendering: pixelated;
}

